{% if page.announcement %}
<div class="announcement">
<p>
    📣 {{ page.announcement }}
</p>
</div>
{% elsif page.title == "Home of Project27" %}

{% elsif page.url contains "guide/" %}
<div class="announcement">
<p>
    📣 The {{ site.brand }} {{ site.product }} is a 
<a target="_blank" rel="noreferrer noopener" href="https://en.wikipedia.org/wiki/Software_release_life_cycle">
beta version.
</a>
</p>
</div>
{% elsif page.url contains "volunteering/" %}
<div class="announcement">
<p>
    📣 The {{ site.brand }} Volunteering site is a 
<a target="_blank" rel="noreferrer noopener" href="https://en.wikipedia.org/wiki/Software_release_life_cycle">
beta version.
</a>
</p>
</div>
{% else %}
<div class="announcement">
<p>
    📣 This area of the website is a 
<a target="_blank" rel="noreferrer noopener" href="https://en.wikipedia.org/wiki/Software_release_life_cycle">
beta version.
</a>
</p>
</div>
{% endif %}