{% assign footer-side = site.data.footer-side %}
{% assign social-side = site.data.social-side %}

<div class="row">
<div class="col-md-10">
<div class="row">
<div class="col-md-8">
{% include global/licence.html %}
</div>
<div class="col-md-4">
{% include global/navigation-footer.html %}
</div>
</div>
<div class="row">
<div class="col">
<h5>Follow us</h5>
{% include global/follow-us.html %}
</div>
</div>
</div>
<div class="col-md-2">

</div>
</div>

<div class="row">
<div class="col-md-10">
<h5>Powered by</h5>
{% include global/powered-by.html %}
</div>
<div class="col-md-2">
<hr>
{% for item in footer-side %}
<p>
<a href="{{ item.link | prepend: site.baseurl }}">
{{ item.name }}
</a>
</p>
{% endfor %}
<p><a href="{{ '/blog/logbook/dev/change-log.html' | prepend: site.baseurl }}">Version: {{ include.version }}.{{ include.subversion }}.{{ include.commit }}.</a></p>
<p onclick="showTimeLastUpdated()">Last updated: 
<span id="time-last-updated-show">{{ site.time | date_to_rfc822 | date: "%d %b %Y" }}.</span>
<span id="time-last-updated-hide" class="hidden-text">{{ site.time | date_to_rfc822 | date: "%H:%M" }}.</span>
</p>
</div>
</div>

{% comment %}
<div class="mycontainer">
<div class="row justify-content-start">
<div class="col">
<p><a href="{{ '/blog/logbook/dev/change-log.html' | prepend: site.baseurl }}">Version: {{ include.version }}.{{ include.subversion }}.{{ include.commit }}.</a></p>
</div>
<div class="row justify-content-end">
<div class="col">
<p>Last updated: {{ site.time | date_to_rfc822 | date: "%d %b %Y at %H:%M" }}.</p>
</div>
</div>
</div>
{% endcomment %}