<div class="dropdown bg-my-nav">
<button type="button" class="Read-More" data-toggle="collapse" data-target="#note-selector" aria-haspopup="true">Note</button>
        <div class="dropdown-menu" id="note-selector">
  {% if page.url contains "complex-numbers" %}
  {% for item in site.data.notes.complex-numbers %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
    {% elsif page.url contains "differential-equations" %}
  {% for item in site.data.notes.differential-equations %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  {% elsif page.url contains "vectors" %}
  {% for item in site.data.notes.vectors %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  {% elsif page.url contains "kinematics" %}
  {% for item in site.data.notes.kinematics %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  {% elsif page.url contains "dynamics" %}
  {% for item in site.data.notes.dynamics %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
    {% elsif page.url contains "acoustics" %}
  {% for item in site.data.notes.acoustics %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
    {% elsif page.url contains "optics" %}
  {% for item in site.data.notes.optics %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
    {% elsif page.url contains "pendulum" %}
  {% for item in site.data.notes.pendulum %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
    {% elsif page.url contains "blackbody" %}
  {% for item in site.data.notes.blackbody %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
    {% elsif page.url contains "photoelectric-effect" %}
  {% for item in site.data.notes.photoelectric-effect %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  {% else %}
  <p>Please select a section before selecting a note.</p>
  {% endif %}
</div>
</div>