{% for post in theCategory %}
<h4>{{ forloop.index }}. {{ post.title }}</h4>

<p>{{ post.excerpt }}</p>

{% if page.url contains "cookbook" %}
<a href="{{ post.url | prepend: site.baseurl }}" class="{{ page.buttonStyle }}">
Open {{ post.title | downcase }} recipe
{% elsif page.url contains "MPS" or page.url contains "CL/" %}
<a href="{{ post.url | prepend: site.baseurl }}" class="{{ page.buttonStyle }}">
Open the note on {{ post.title | downcase }}
{% elsif page.url contains "blog" %}
<a href="{{ post.url | prepend: site.baseurl }}" class="{{ page.buttonStyle }}">
Continue reading {{ post.title | downcase }}
{% endif %}
</a>
{% endfor %}