  <button href="#sidebar" type="button" class="d-lg-none mysecondarybtn" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle sidebar">
    <span><i class="fa-solid fa-circle-chevron-down" aria-hidden="false"></i></span>
  </button>
<div class="collapse d-lg-block bg-background" id="sidebar" aria-label="sidebar navigation">
<div class="row">
<div class="col">
  {% for item in site.data.quick-links-side["about"] %}
  <div class="mybtnquick">
  <a href= "{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  </div>
  {% endfor %}
  </div>
  </div>
<div class="row">
<div class="col">
<div class="dropdown bg-my-nav">
<button type="button" class="mybtnswitch" data-toggle="collapse" data-target="#products" aria-haspopup="true">Products & Services</button>
        <div class="dropdown-menu" id="products">
    {% for item in site.data.quick-links-side["productsAndServices"] %}
          <a class="dropdown-item" href= "{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  </div>
</div>
<div class="dropdown bg-my-nav">
<button type="button" class="mybtnswitch" data-toggle="collapse" data-target="#media" aria-haspopup="true">Media</button>
        <div class="dropdown-menu" id="media">
  {% for item in site.data.quick-links-side["media"] %}
          <a class="dropdown-item" href= "{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
</div>
</div>
<div class="dropdown bg-my-nav">
<button type="button" class="mybtnswitch" data-toggle="collapse" data-target="#development" aria-haspopup="true">Development</button>
        <div class="dropdown-menu" id="development">
    {% for item in site.data.quick-links-side["development"] %}
{% if item.link contains "github.com" or item.link contains "surge.sh" %}
          <a target="_blank" rel="noreferrer noopener" class="dropdown-item" href= "{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
          {% else %}
                    <a class="dropdown-item" href= "{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
                    {% endif %}
  {% endfor %}
</div>
</div>
</div>
</div>
</div>