<div class="dropdown bg-my-nav">
<button type="button" class="Read-More" data-toggle="collapse" data-target="#section-selector" aria-haspopup="true">Section</button>
        <div class="dropdown-menu" id="section-selector">
  {% if page.url contains "mathematics" %}
  {% for item in site.data.sections.mathematics  limit: 2 %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  {% elsif page.url contains "mechanics" %}
  {% for item in site.data.sections.mechanics %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
    {% elsif page.url contains "oscillations" %}
  {% for item in site.data.sections.oscillations limit: 2 %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
    {% elsif page.url contains "quantum-mechanics" %}
  {% for item in site.data.sections.quantum-mechanics %}
          <a class="dropdown-item" href="{{ item.link | prepend: site.baseurl }}" {% if page.url == item.link %}class="current"{% endif %}>{{ item.name }}</a>
  {% endfor %}
  {% else %}
  <p>Please open a volume and a chapter, before you are able to select a section. It may also be that this chapter has not been divided into sections.</p>
  {% endif %}
</div>
</div>
