<h3>Not keen on reading?</h3>

{% if page.attribution != "Project27" %}
<p>We thought this video by 
<a href="{{ page.attributionLink }}">
{{ page.attribution }}
</a>
 is a good alternative of this post.</p>
{% else %}
We recorded this video to talk through what's in the post.
{% endif %}

<iframe width="560" height="315" src="https://www.youtube.com/embed/{{ include.link }}" title="Video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<hr>