<h2>More posts from the {{ page.category | downcase }} category</h2>

<p>Did you like this post? Choose another post from the {{ page.category | downcase }} category below.</p>

{% if page.url contains "disabilities" %}
<ul>
{% for post in site.categories.disabilities %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">
{{ post.title }}
</a>
</li>
{% endfor %}
</ul>
{% elsif page.url contains "identities" %}
<ul>
{% for post in site.categories.identities %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">
{{ post.title }}
</a>
</li>
{% endfor %}
</ul>
{% elsif page.url contains "reading" %}
<ul>
{% for post in site.categories.reading %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">
{{ post.title }}
</a>
</li>
{% endfor %}
</ul>
{% elsif page.url contains "special-interests" %}
<ul>
{% for post in site.categories.special-interests %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">
{{ post.title }}
</a>
</li>
{% endfor %}
</ul>
{% elsif page.url contains "grapheel-archive" %}
<ul>
{% for post in site.categories.grapheel-archive %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">
{{ post.title }}
</a>
</li>
{% endfor %}
</ul>
{% elsif page.url contains "nanotip" %}
<ul>
{% for post in site.categories.nanotip %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">
{{ post.title }}
</a>
</li>
{% endfor %}
</ul>
{% elsif page.url contains "latex-to-mathml" %}
<ul>
{% for post in site.categories.LaTeX-to-MathML %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">
{{ post.title }}
</a>
</li>
{% endfor %}
</ul>
{% elsif page.url contains "mathml-usability" %}
<ul>
{% for post in site.categories.MathML-usability %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">
{{ post.title }}
</a>
</li>
{% endfor %}
</ul>
{% elsif page.url contains "dev" %}
<ul>
{% for post in site.categories.dev %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">
{{ post.title }}
</a>
</li>
{% endfor %}
</ul>
{% elsif page.url contains "issues" %}
<ul>
{% for post in site.categories.issues %}
<li>
<a href="{{ post.url | prepend: site.baseurl }}">
{{ post.title }}
</a>
</li>
{% endfor %}
</ul>
{% endif %}