      <nav class="blog-pagination" aria-label="Pages">
        {% if page.previous.url %}
        <a class="previous-post" href="{{ page.previous.url | prepend: site.baseurl }}">Previous: {{page.previous.title}}</a>
        <div class="row">
        {% endif %}
        <br>
        {% if page.next.url %}
        <a class="next-post" href="{{ page.next.url | prepend: site.baseurl }}" tabindex="-1" aria-disabled="false">Next: {{ page.next.title}}</a>
        {% endif %}
        </div>
      </nav>