---
layout: default
title: Who we are?
buttonStyle: fg-general-chap
backgroundStyle: bg-general-chap
listOfIcons: [["", ""], ["", ""]]
---

<h2>{{ page.title }}</h2>

We are a small but committed family business with great friends and advisors.
View who is in our core team, who gives us advice, and who volunteered to give their time.

<h3>The core team</h3>

{{ site.brand }} is managed by this awesome core team.

{% for item in site.data.volunteering.core-team %}
<div class="profilecontainertitle">
<h4>{{ item.name }} - {{ site.brand }} {{ item.role }}</h4>
</div>

<div class="profilecontainer">
<img src="{{ item.photo | prepend: site.baseurl }}" class="profile-photo" alt="{{ item.alt }}" height="300px" width="200px">

{{ item.contribution }}
</div>

<div class="row">
<a href="{{ item.profile | prepend: site.baseurl }}" class="{{ page.buttonStyle }}">View {{ item.shortname }}'s profile</a>
</div>
{% endfor %}

<hr>

<h3>The advisory team</h3>

We wouldn't be where we are today, without the invaluable advice and guidance of our advisors.

{% for item in site.data.volunteering.advisory-team %}
<div class="profilecontainertitle">
<h4>{{ item.name }} - {{ item.role }}</h4>
</div>

<div class="profilecontainer">
<img src="{{ item.photo | prepend: site.baseurl }}" class="profile-photo" alt="{{ item.alt }}" height="300px" width="200px">

{{ item.contribution }}
</div>

<div class="row">
<a href="{{ item.profile | prepend: site.baseurl }}" class="{{ page.buttonStyle }}">Learn more about {{ item.shortname }}</a>
</div>
{% else %}
<p>We are just confirming seats at our advisory board for an academic, a business, a community, and a technology advisor.</p>
{% endfor %}

<hr>

<h3>The volunteer team</h3>

Anyone who has ever volunteered to contribute to {{ site.brand }} is acknowledged on this page.

{% for item in site.data.volunteering.volunteer-team %}
<div class="profilecontainertitle">
<h4>{{ item.name }} - {{ site.brand }} {{ item.role }}</h4>
</div>

<div class="profilecontainer">
<img src="{{ item.photo | prepend: site.baseurl }}" class="profile-photo" alt="{{ item.alt }}" height="300px" width="200px">

{{ item.contribution }}
</div>

<div class="row">
<a href="{{ item.profile | prepend: site.baseurl }}" class="{{ page.buttonStyle }}">View {{ item.shortname }}'s profile</a>
</div>
{% else %}
<p>Currently, there are no volunteers in the team.</p>
{% endfor %}