---
layout: default
title: Blog
tagline: Be the leading example
author: Daniel Hajas
reviewer: Danielle Garratt
date: 2022-09-01
licence: copyright
buttonStyle: fg-blog-land
backgroundStyle: bg-blog-land
listOfIcons: [["fas fa-book", ""], ["", "Mobius-strip.png"]]
levelToOpen: branch
---
    <h2 class="cover-heading">The {{ page.title }}: {{ page.tagline }}</h2>
<p>The {{ site.brand }} Blog is split into two branches: LogBook and TWIST. In the LogBook, we record issues and solutions found during the development of the {{ site.brand }} {{ site.product }}. TWIST is all about sharing thoughts to engage with and inspire new ideas.</p>

{% include global/cover-image.html image="blog-cover.jpg" alt="A person writing into a journal with a pen." %}

<hr>
{% include spotlight.html %}
<hr>
{% assign dataFile = site.data.volumes.blog %}
{% include global/grid-generator.html heading="h3" %}