<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/custom/style.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/custom/easyread.css' | relative_url }}">
  <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
</head>
<body>
  <header>
    <nav>
{% if page.layout == "login" %}
      <a href="https://project27skills.com/">Project27 Skills</a>
      <a href="#" id="easyread-button" class="button">Easy Read</a>
{% else %}
      <a href="{{ site.baseurl }}/general/index.html">Home</a>
      <a href="{{ site.baseurl }}/">Log out</a>
      <a href="#" id="easyread-button" class="button">Easy Read</a>
      {% endif %}
    </nav>
  </header>
  {{ content }}
  <footer>
    <!-- Footer content -->
  </footer>

  <script src="{{ '/assets/javascript/toggleEasyRead.js' | relative_url }}"></script>
</body>
</html>
