
### Ingredients and kitchenware

The following recommendation usually serves {{ page.serves }} of us.
Make sure you have enough to share with your pals.

Before you start, check that you have the following ingredients.

{% if page.display-ingredients == "list" %}
{% include global/list-ingredients.html %}
{% else %}
{% include global/tabulator2.html %}
{% endif %}

You will also have things to wash up afterwards.
The dishes and appliances to have at hand are:

{{ include.kitchenware }}

### Preparation and cooking time

It usually takes us {{ page.time }} minutes to prepare this meal.
No rush though, takes as long as it takes.

Every {{ site.brand }} recipe takes only 3 key steps to prepare.
The rest is a matter of creativity..

Step 1: Play music in the kitchen. <a href="{{ page.music }}" target="_blank" rel="noreferrer noopener">I recommend this playlist.</a>

Step 2: Pour a glass of drink for the chef.

Step 3: Get cooking, get creative! Here is how we do it:

#### Steps

{{ include.steps }}

### Tips and assistive products

{% if tip1 %}
We have tips to help you prepare this meal.

<span id="tip1">Tip 1: {{ include.tip1 }}</span>

{% if tip2 %}
<span id="tip2">Tip 2: {{ include.tip2 }}</span>

{% endif %}
{% if tip3 %}
<span id="tip3">Tip 3: {{ include.tip3 }}</span>
{% endif %}
{% else %}
Sorry, we don't have any special tips. Don't hesitate to send us an e-mail to `support@project27skills.com` to ask for some support with this meal.
{% endif %}

### Share and enjoy!

If you decide to prepare this meal, invite someone to share it with.
Then, why not share this recipe with all your friends on social media?
Tag us to let us know what twist you introduced.
Bon appetit!